{% extends 'pages/ay/base.html' %}
{% block content %}

<!-- Promo Block -->
<div class="g-bg-img-hero g-bg-cover g-bg-black-opacity-0_3--after"
    style="background-image: url(assets/img-temp/1920x1080/img4.jpg);">
    <div class="container g-pos-rel g-z-index-1 g-pt-80 g-pb-150">
        <div class="row justify-content-lg-between align-items-md-center">
            {%  if events %}
            {% for event in events %}
            <div class="col-md-6 col-lg-5 g-mb-30">
                <h1 class="g-color-white g-font-size-40--md mb-4">{{event.statement}}</h1>
                <p class="g-color-white-opacity-0_9 g-font-size-20--md">{{event.start_time|date:"M"}}
                    {{event.start_time|date:"Y"}} {{event.start_time|date:"g:a"}} -

                    {{event.end_time|date:"g:a"}}</p>
            </div>
            {% endfor %}
            {% endif %}

            <div class="col-md-6 col-lg-4 g-mb-30">
                <!-- Contact Form -->
                <form class="u-shadow-v35 g-bg-white rounded g-px-40 g-py-50">
                    <div class="g-mb-20">
                        <label class="g-font-weight-500 g-font-size-15 g-pl-20">Full name</label>
                        <input
                            class="form-control h-100 g-brd-secondary-light-v2 g-bg-secondary g-bg-secondary-dark-v1--focus g-rounded-30 g-px-20 g-py-12"
                            type="text" placeholder="Enter your full name">
                    </div>

                    <div class="g-mb-20">
                        <label class="g-font-weight-500 g-font-size-15 g-pl-20">Email</label>
                        <input
                            class="form-control h-100 g-brd-secondary-light-v2 g-bg-secondary g-bg-secondary-dark-v1--focus g-rounded-30 g-px-20 g-py-12"
                            type="email" placeholder="Enter your email">
                    </div>

                    <div class="g-mb-20">
                        <label class="g-font-weight-500 g-font-size-15 g-pl-20">How many seats?</label>
                        <input
                            class="form-control h-100 g-brd-secondary-light-v2 g-bg-secondary g-bg-secondary-dark-v1--focus g-rounded-30 g-px-20 g-py-12"
                            type="text" placeholder="1">
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <a class="u-link-v5 g-color-text-light-v1 g-color-primary--hover g-font-size-default"
                            href="#"><i class="align-middle mr-1 icon-real-estate-027 u-line-icon-pro"></i> Get the
                            Location</a>
                        <button type="submit"
                            class="btn u-shadow-v33 g-color-white g-bg-primary g-bg-main--hover g-font-size-default g-rounded-30 g-px-25 g-py-7">Book</button>
                    </div>
                </form>
                <!-- End Contact Form -->
            </div>
        </div>
    </div>
</div>
<!-- End Promo Block -->




<!-- University Events -->
<div class="container g-pt-100">
    <h2 class="g-mb-40">Key Events</h2>
    <div class="row">
        {%  if events %}
        {% for event in events %}
        <div class="col-lg-6 g-mb-30">
            <!-- Event Listing -->
            <article class="u-shadow-v39">
                <div class="row">
                    <div class="col-4">
                        <div class="g-min-height-170 g-bg-img-hero"
                            style="background-image: url(assets/img-temp/200x200/img5.jpg);"></div>
                    </div>

                    <div class="col-8 g-min-height-170 g-flex-centered">
                        <div class="media align-items-center g-py-40">
                            <div class="d-flex col-8">
                                <h3 class="g-line-height-1 mb-0"><a
                                        class="u-link-v5 g-color-main g-color-primary--hover g-font-size-18"
                                        href="{{event.event_link_zoom}}">{{event.statement}}</a></h3>
                            </div>
                            <div class="media-body col-4">
                                <span
                                    class="g-color-primary g-font-weight-500 g-font-size-40 g-line-height-0_7">{{event.start_time|date:"d "}}</span>
                                <span class="g-line-height-0_7">{{event.start_time|date:"M"}}
                                    {{event.start_time|date:"Y"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Event Listing -->
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>
<!-- End University Events -->


{% endblock %}