{% extends 'pages/ay/base.html' %}
{% load static%}
{% block content %}
<!-- Programs Filters -->
<div class="g-bg-img-hero g-bg-brown"
    style="background-image: url({% static 'unify/ay/assets/include/svg/svg-bg1.svg);' %}">
    <div class="container g-pt-100 g-pb-70">
        <!-- Heading -->
        <div class="g-max-width-65 text-center mx-auto g-mb-60" style="height: 20px;">
            <span style="margin-top: -90px; " class="d-block g-font-weight-500 text-uppercase mb-4">Full list of
                Departments</span>
            <h2 style="margin-bottom: -50px;" class="h1 mb-0">Browse all Departments and Leadership</h2>
        </div>

    </div>
    <!-- End Programs Filter -->
</div>
</div>
<!-- End Programs Filters -->

<!-- Programs -->
<div class="container g-pt-70">
    <div class="row">
        <div class="col-lg-9 g-mb-70">
            <div class="mb-5">
                <h2> AYCi structured Departments</h2>
                <p>The AYCi is structured to thrive on a blueprint of transformational programs carefully designed to
                    reflect Africa’s demographic spread by combining elements of skills development, entrepreneurship,
                    access to jobs and finance, advocacy and awareness campaigns on issues pertaining to youth
                    development as well as promotion of youths citizenship and leadership. </p>
            </div>

            <div class="g-px-15 mb-5">
                <!-- Heading -->
                <div class="row g-bg-main g-color-white g-font-size-16 g-py-15">
                    <div class="col-sm-4">
                        <div class="d-flex align-items-center">
                            <h2 class="h5 mb-0"><a class="u-link-v5 g-color-white-opacity-0_8 g-color-white--hover"
                                    href="#">
                                    <i class="g-font-size-20 material-icons">swap_vert</i>
                                    Head of Department
                                </a></h2>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <h3 class="h5 mb-0"><a class="u-link-v5 g-color-white-opacity-0_8 g-color-white--hover"
                                    href="#">
                                    <i class="g-font-size-20 material-icons">swap_vert</i>
                                    Department
                                </a></h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="d-flex align-items-center">
                            <h3 class="h5 mb-0"><a class="u-link-v5 g-color-white-opacity-0_8 g-color-white--hover"
                                    href="#">
                                    <i class="g-font-size-20 material-icons">swap_vert</i>
                                    Members
                                </a></h3>
                        </div>
                    </div>
                </div>
                <!-- End Heading -->

                {% for dept in depts %}
                <div class="row g-brd-around g-brd-top-none g-brd-secondary-light-v2 g-font-size-16 g-py-15">
                    <div class="col-sm-4">
                        <span>{{dept.head}}</span>
                    </div>
                    <div class="col-sm-6">
                        <a href="#">{{dept.name}}</a>
                    </div>
                    <div class="col-sm-2">
                        <span>2</span>
                    </div>
                </div>
                {% endfor %}

            </div>

            <!-- Pagination -->
            <nav aria-label="Page Navigation">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-secondary-light-v2 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded g-pa-5"
                            href="#!">1</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-text-light-v1 g-color-primary--hover g-font-size-12 rounded g-pa-5"
                            href="#!">2</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-text-light-v1 g-color-primary--hover g-font-size-12 rounded g-pa-5"
                            href="#!">3</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-secondary-light-v2 g-brd-primary--hover g-color-text-light-v1 g-color-primary--hover g-font-size-12 rounded g-pa-5 g-ml-15"
                            href="#!" aria-label="Next">
                            <span aria-hidden="true">
                                <i class="fa fa-angle-right"></i>
                            </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="list-inline-item float-right">
                        <span class="u-pagination-v1__item-info g-color-gray-dark-v4 g-font-size-12 g-pa-5">Page 1 of
                            3</span>
                    </li>
                </ul>
            </nav>
            <!-- End Pagination -->
        </div>

        <div class="col-lg-3 g-mb-70">
            <h3 class="h4">Articles</h3>

            <div id="stickyblock-start">
                <div class="js-sticky-block g-sticky-block--lg pt-4" data-responsive="true"
                    data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
                    <!-- Sidebar Links -->
                    <ul class="list-unstyled g-mb-50">
                        {% for article in articles %}
                        <li class="mb-1">
                            <a class="d-block u-link-v5 g-color-text g-color-white--hover g-bg-secondary g-bg-main--hover g-font-size-default rounded g-pl-30--hover g-px-20 g-py-7"
                                href="#">
                                <i class="g-font-size-13 g-pos-rel g-top-2 mr-2 material-icons">arrow_forward</i>
                                {{article.title}}
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                    <!-- End Sidebar Links -->

                    <!-- Twitter Feed -->
                    <h3 class="h4 mb-4">Twitter Feeds</h3>
                    <ul class="list-unstyled mb-0">
                        <li class="g-brd-bottom g-brd-secondary-light-v2 g-pb-20">
                            <h4 class="h6">RT <a class="g-font-weight-600" href="#">@UofA_Arts:</a> DON'T MISS</h4>
                            <p class="g-color-text-light-v1 g-font-size-13 mb-0">Political Science's “What Comes Next?
                                The Political Afterlives of the <a class="g-font-weight-500" href="#">#TRC</a>, WED/OCT
                                4/4:30-6 pm… <a class="g-font-weight-500" href="#">twitter.com/i/web/status/9…</a></p>
                        </li>
                        <li class="g-pt-20">
                            <h4 class="h6">RT <a class="g-font-weight-500" href="#">@UofA_Arts:</a> DON'T MISS</h4>
                            <p class="g-color-text-light-v1 g-font-size-13 mb-0">Political Science's “What Comes Next?
                                The Political Afterlives of the <a class="g-font-weight-500" href="#">#TRC</a>, WED/OCT
                                4/4:30-6 pm…</p>
                        </li>
                    </ul>
                    <!-- End Twitter Feed -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Programs -->
{% endblock %}