{% load static%}
<!-- Carousel Slider -->
<div class="js-carousel u-carousel-v5" data-infinite="true" data-autoplay="true" data-speed="8000"
    data-pagi-classes="u-carousel-indicators-v34 g-absolute-centered--y g-left-auto g-right-30 g-right-100--md"
    data-calc-target="#js-header">
    {% if banners %}
    {% for banner in banners %}
    <!-- Carousel Slides -->
    <div class="js-slide h-100 g-flex-centered g-bg-img-hero g-bg-cover g-bg-black-opacity-0_3--after"
        style="background-image: url({{banner.image.url}});">
   
    </div>
    {% endfor %}
    {% endif %}
    <!-- End Carousel Slides -->

</div>
<!-- End Carousel Slider -->
<div class="js-carousel u-carousel-v5" data-infinite="true" data-autoplay="true" data-speed="8000"
    data-pagi-classes="u-carousel-indicators-v34 g-absolute-centered--y g-left-auto g-right-30 g-right-100--md"
    data-calc-target="#js-header">
    {% if banners %}
    {% for banner in banners %}
    <div class="container">
    <!-- Heading -->
    <div class="g-max-width-645 text-center mx-auto">
        <h2 class="h1 mb-3 g-font-size-{{ banner.title_font_size }} g-color-black">{{ banner.title}}</h2>
        <p style="background-color:green; color:black;">{{banner.tag_text}}</p>
    </div>
    </div>
     
        {% endfor %}
    {% endif %}
</div>
