{% load static%}
<!-- Carousel Slider -->
<div class="js-carousel u-carousel-v5" data-infinite="true" data-autoplay="true" data-speed="8000"
    data-pagi-classes="u-carousel-indicators-v34 g-absolute-centered--y g-left-auto g-right-30 g-right-100--md"
    data-calc-target="#js-header">
    {% if banners %}
    {% for banner in banners %}
    <!-- Carousel Slides -->
    <div class="js-slide h-100 g-flex-centered g-bg-img-hero g-bg-cover g-bg-black-opacity-0_3--after"
        style="background-image: url({{banner.image.url}});">
   
    </div>
    {% endfor %}
    {% endif %}
    <!-- End Carousel Slides -->

</div>
<!-- End Carousel Slider -->
<div class="js-carousel u-carousel-v5" data-infinite="true" data-autoplay="true" data-speed="8000"
    data-pagi-classes="u-carousel-indicators-v34 g-absolute-centered--y g-left-auto g-right-30 g-right-100--md"
    data-calc-target="#js-header">
    {% if banners %}
    {% for banner in banners %}
     <div class="container">
            <div class="g-max-width-600 g-pos-rel g-z-index-1">
                <a class="d-block g-text-underline--none--hover" href="#">
                    <span class="d-block g-color-black g-font-size-20--md mb-2">
                        <span
                            class="g-brd-bottom--dashed g-brd-2 g-brd-primary g-font-size-{{ banner.title_font_size }}  g-color-black g-font-weight-900 text-uppercase g-pb-2">
                            {{ banner.title}}</span>
                    </span>
                    <span
                        class="d-block g-color-black g-font-secondary g-font-size-{{ banner.tag_text_font_size }} g-font-size-15--md g-line-height-1_4">
                        {{banner.tag_text}}
                    </span>
                </a>
            </div>

        </div>
        {% endfor %}
    {% endif %}
</div>
