{% load static%}
<!-- Nav -->
<nav class="js-mega-menu navbar navbar-expand-lg g-px-0 g-py-5 g-py-0--lg">
    <!-- Logo -->
    <a class="navbar-brand g-max-width-170 g-max-width-200--lg" href="{% url 'pages:index'%}?next={{request.path}}">
        <span style="margin-left: -60px;" class="g-color-text g-font-size-25 g-line-height-0_7 g-opacity-1 mr-4">
            <img style="margin-left: -10px; margin-top: 15px;"
                class="img-fluid g-width-100 g-height-100 g-hidden-lg-down"
                src="{% static 'unify/ay/assets/img/logo/WhatsApp Image 2020-10-09 at 02.48.07.jpeg' %}" alt="Logo">
            <img style="margin-left: 40px;" class="img-fluid g-width-70 g-height-70 g-hidden-md-down g-hidden-xl-up"
                src="{% static 'unify/ay/assets/img/logo/WhatsApp Image 2020-10-09 at 02.48.07.jpeg' %}" alt="Logo">
                 <img style="margin-left: 110px;" class=" img-fluid g-hidden-lg-up" src="{% static 'unify/ay/assets/img/logo/WhatsApp Image 2020-10-09 at 02.48.07.jpeg' %}" alt="Logo" />
            <span style="margin-left: 30px;" class="d-block g-font-weight-600 g-hidden-lg-up g-color-text g-font-size-10 text-center">Towards a United and Progressive African Continent </span>
               </span>
   <div align="left" style="line-height: 1.2em; padding-left: 20px; ">
        <span style="padding-left: 20px; margin-top: -100px; color:black"
            class=" d-block g-hidden-sm-down g-font-weight-800">
            <span style="padding-left: 30px;" >Africa Youths</span>
<span style="color:red; padding-top:-40px" class="d-block  g-font-weight-800  text-center">Community</span>
            <span style="color:black" class="d-block  g-font-weight-600 g-line-height-1_4 text-center"> (International Worldwide) </span>
            <span class="d-block  g-color-text g-font-size-10 text-center">Towards a United and Progressive African Continent </span>
        </span>
       
        </div>
    </a>
    <!-- End Logo -->

    <!-- Responsive Toggle Button -->
    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0" type="button"
        aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse"
        data-target="#navBar">
        <span class="hamburger hamburger--slider g-px-0">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </span>
    </button>
    <!-- End Responsive Toggle Button -->

    <!-- Navigation -->
    <div id="navBar" class="collapse navbar-collapse">
        <ul class="navbar-nav align-items-lg-center g-py-30 g-py-0--lg ml-auto">


            <li class="nav-item">
                <a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg"
                    href="{% url 'pages:departments'%}?next={{request.path}}">
                    Departments
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg"
                    href="{% url 'pages:about'%}?next={{request.path}}">
                    About Us
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg"
                    href="{% url 'pages:members_portal'%}?next={{request.path}}">
                    Members Portal
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg"
                    href="{% url 'pages:executives'%}?next={{request.path}}">
                    Executive &amp; Staff
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg"
                    href="{% url 'pages:events'%}?next={{request.path}}">
                    Events
                </a>
            </li>
            <!-- Pages - Mega Menu -->
            <li class="nav-item hs-has-mega-menu" data-animation-in="fadeIn" data-animation-out="fadeOut"
                data-position="left">
                <a id="mega-menu-label-1"
                    class="nav-link g-color-primary--hover g-font-size-15 g-font-size-17--xl g-px-15--lg g-py-10 g-py-30--lg"
                    href="#!" aria-haspopup="true" aria-expanded="false">
                    Business Portal
                    <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
                </a>

                <!-- Mega Menu -->
                <div class="w-100 hs-mega-menu u-shadow-v39 g-brd-around g-brd-7 g-brd-white g-bg-secondary g-text-transform-none g-pa-30 g-pa-50--lg g-my-20 g-my-0--lg"
                    aria-labelledby="mega-menu-label-1">
                    <span class="d-block h1 g-brd-bottom g-brd-2 g-brd-main pb-2 mb-5">Youths Business Portal</span>

                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <!-- Links -->
                            <ul class="list-unstyled g-pr-30 mb-0">
                                <li class="py-2">
                                    <a class="d-flex g-color-main g-color-primary--hover g-text-underline--none--hover g-py-5"
                                        href="{% url 'pages:departments'%}?next={{request.path}}">
                                        Stores
                                        <i
                                            class="g-color-primary g-font-size-15 g-pos-rel g-top-5 ml-auto material-icons">arrow_forward</i>
                                    </a>
                                </li>
                                <li class="py-2">
                                    <a class="d-flex g-color-main g-color-primary--hover g-text-underline--none--hover g-py-5"
                                        href="{% url 'pages:about'%}?next={{request.path}}">
                                        Services
                                        <i
                                            class="g-color-primary g-font-size-15 g-pos-rel g-top-5 ml-auto material-icons">arrow_forward</i>
                                    </a>
                                </li>

                            </ul>
                            <!-- End Links -->
                        </div>



                        <div class="col-sm-6 col-lg-3">
                            <!-- Links -->
                            <ul class="list-unstyled g-pr-30 mb-0">
                                <li class="py-2">
                                    <a class="d-flex g-color-main g-color-primary--hover g-text-underline--none--hover g-py-5"
                                        href="{% url 'pages:departments'%}?next={{request.path}}">
                                        Social Responsibilites
                                        <i
                                            class="g-color-primary g-font-size-15 g-pos-rel g-top-5 ml-auto material-icons">arrow_forward</i>
                                    </a>
                                </li>
                                <li class="py-2">
                                    <a class="d-flex g-color-main g-color-primary--hover g-text-underline--none--hover g-py-5"
                                        href="{% url 'pages:departments'%}?next={{request.path}}">
                                        Request Mentorship
                                        <i
                                            class="g-color-primary g-font-size-15 g-pos-rel g-top-5 ml-auto material-icons">arrow_forward</i>
                                    </a>
                                </li>
                                <li class="py-2">
                                    <a class="d-flex g-color-main g-color-primary--hover g-text-underline--none--hover g-py-5"
                                        href="{% url 'pages:departments'%}?next={{request.path}}">
                                        Register Business
                                        <i
                                            class="g-color-primary g-font-size-15 g-pos-rel g-top-5 ml-auto material-icons">arrow_forward</i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Links -->
                        </div>


                    </div>
                </div>
                <!-- End Mega Menu -->
            </li>
            <!-- End Pages - Mega Menu -->
        </ul>
    </div>
    <!-- End Navigation -->
</nav>
<!-- End Nav -->
